## Python Day 02
- variabel

In [ ]:
# variabel
siswa = "Erik"
umur = 21
tinggi = 170.3

In [ ]:
# case sensitive
siswa = 'erirk'
siswa_pertama = 'resut'
SiswaPertama = "alzha"

- Tipe data

In [ ]:
# tipe data
nama = "Restu" #string adalah berupa teks
umur = 20 #int adalah bilangan bulat (1, 2, 3, dst)
tinggi = 169.5 #float/double adalah bilangan desimal
laki_laki = True # Bool (true or false)
hobi = ["Sepak Bola", "Badminton"] #tipe data list/daftar
daftar_umur_siswa = [18, 20, 21]
sekolah = ("SD", "SMP", "SMA", "Kuliah") #tipe data tuple
kontak_telpon = {
    "alza": 8123455,
    "erik": 8235334,
} # key : value (dictionary)
kelereng = {"Merah", "Biru", "Kuning"}


print(type(nama))
print(type(umur))
print(type(tinggi))
print(type(laki_laki))
print(type(hobi))
print(type(kontak_telpon))
print(type(kelereng))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'list'>
<class 'dict'>
<class 'set'>

- String

In [ ]:
# string
nama = 'alif al zahran'
print(nama)
# slicing
print(nama[0:4]) # variabel[start:stop]

alif al zahran
alif

- string formating

In [35]:
nama = 'Erik'
usia = 21

print("Nama Siswa adalah {} dan usia {} ".format(nama, usia))
print(f"Nama siswa adalah {nama} dan usia {usia}")

Nama Siswa adalah Erik dan usia 21
Nama siswa adalah Erik dan usia 21

- ASCII

In [36]:
# mengubah huruf ke kode ascii

huruf = "A"
kode = ord(huruf)
print(f"Kode ASCII dari {huruf} adalah {kode}")

Kode ASCII dari A adalah 65

In [37]:
# mengubah angka ke huruf
kode = 66
huruf_dari_kode = chr(kode)
print(f"Kode {kode} adalah huruf {huruf_dari_kode}")

Kode 66 adalah huruf B

-  Biner dan hexadecimal

In [39]:
# biner
angka = 10
biner = bin(angka)
print(f"angka {angka} dalam biner adalah {biner}")

# biner
angka = 10
hexa = hex(angka)
print(f"angka {angka} dalam biner adalah {hexa}")

angka 10 dalam biner adalah 0b1010
angka 10 dalam biner adalah 0xa

- operator aritmetika

In [ ]:
# operator
angka_pertama = 10
angka_kedua = 2


print(angka_pertama + angka_kedua) # operator tambah
print(angka_pertama - angka_kedua) # operator kurang
print(angka_pertama / angka_kedua) # operator bagi
print(angka_pertama * angka_kedua) # operator kali
print(angka_pertama % angka_kedua) # operator tambah
print(angka_pertama ** angka_kedua) # operator tambah

12
8
5.0
20
0
100

- operator perbandingan

In [58]:
# operator comparison
umur_erik = 21
umur_alzah = 18

print(umur_erik > umur_alzah)
print(umur_erik < umur_alzah)
print(umur_erik != umur_alzah)

True
False
True

- control flow

In [63]:
# if, else, elif, for, while
umur_erik = 21
umur_alzah = 18

if umur_erik > umur_alzah:
    print("Erik lebih tua")
else:
    print("Alza lebih muda")

Erik lebih tua

In [65]:
# elif
nilai = 55

if nilai >= 90:
    print("A")
elif nilai < 90 and nilai >= 80:
    print("B")
elif nilai < 80 and nilai >= 70:
    print("C")
else:
    print("D")

D

In [75]:
# perulangan for
for i in range(11):
    print(f"Hello Erik {i}")

Hello Erik 0
Hello Erik 1
Hello Erik 2
Hello Erik 3
Hello Erik 4
Hello Erik 5
Hello Erik 6
Hello Erik 7
Hello Erik 8
Hello Erik 9
Hello Erik 10

In [76]:
# while
i = 10

while i > 0:
    print(f"Energi tersisa: {i}, ayo lari")
    # energi = energi - 1
    i -= 1

Energi tersisa: 10, ayo lari
Energi tersisa: 9, ayo lari
Energi tersisa: 8, ayo lari
Energi tersisa: 7, ayo lari
Energi tersisa: 6, ayo lari
Energi tersisa: 5, ayo lari
Energi tersisa: 4, ayo lari
Energi tersisa: 3, ayo lari
Energi tersisa: 2, ayo lari
Energi tersisa: 1, ayo lari

In [78]:
# while
energi = 0

while energi <= 10:
    print(f"Energi bertamabah {energi}")
    energi = energi + 1

Energi bertamabah 0
Energi bertamabah 1
Energi bertamabah 2
Energi bertamabah 3
Energi bertamabah 4
Energi bertamabah 5
Energi bertamabah 6
Energi bertamabah 7
Energi bertamabah 8
Energi bertamabah 9
Energi bertamabah 10